openapi: 3.0.3
info:
  title: BookDiaNight API
  version: 1.0.0
  description: API documentation for the BookDiaNight backend.
servers:
  - url: https://bookdianight.localbox.online
    description: Local development server
  - url: https://api.bookdianight.com
    description: Production server
tags:
  - name: Health
    description: System health and status endpoints
  - name: Auth
    description: Authentication and device management endpoints
  - name: Media
    description: Public media and file upload endpoints
  - name: Club
    description: Club management endpoints
  - name: Event
    description: Event management endpoints
  - name: Explore
    description: Public exploration endpoints
  - name: Wishlist
    description: User wishlist management endpoints
  - name: Connect
    description: Stripe Connect onboarding, callback, and webhook endpoints
  - name: Purchase
    description: Payment-ready pending Club and Event purchase creation
  - name: Recover
    description: Account recovery endpoints
  - name: Admin Auth
    description: Admin authentication endpoints
  - name: Profile
    description: User profile endpoints
  - name: Admin Legal
    description: Admin legal endpoints
  - name: Public Legal
    description: Public Legal endpoints
components:
  securitySchemes:
    adminAuth:
      type: apiKey
      in: cookie
      name: access_token
      description: 'Cookie based access token for Admin API.'
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT Bearer token for authentication.

        Note: The `/auth/verify` and `/auth/resend` endpoints expect the
        OTP-page pending verification token,

        whereas `/auth/check` expects the standard user access token.

        '
  schemas:
    CreateWishlistPayload:
      type: object
      required:
        - type
        - targetId
      properties:
        type:
          type: string
          enum:
            - CLUB
            - EVENT
        targetId:
          type: string
          format: uuid

    GetWishlistResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            meta:
              $ref: '#/components/schemas/ExplorePaginationMeta'
            data:
              type: array
              description: >
                Array of saved items. The exact shape depends on the target type.
                Stale records (deactivated Clubs, non-UPCOMING Events, deactivated Events) are excluded.
                Ordered by wishlist creation time descending.
              items:
                oneOf:
                  - $ref: '#/components/schemas/ExploreClubListItem'
                  - $ref: '#/components/schemas/ExploreEventListItem'

    ClubOpeningHourPayload:
      type: object
      required:
        - dayOfWeek
        - isClosed
        - closesNextDay
      properties:
        dayOfWeek:
          type: integer
          minimum: 0
          maximum: 6
        isClosed:
          type: boolean
        openTime:
          type: string
          format: date-time
          nullable: true
        closeTime:
          type: string
          format: date-time
          nullable: true
        closesNextDay:
          type: boolean
    ClubPackagePayload:
      type: object
      required:
        - name
        - capacity
        - price
        - currency
        - features
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        capacity:
          type: integer
          minimum: 1
        price:
          type: number
          minimum: 0
        currency:
          type: string
        features:
          type: array
          items:
            type: string
        sortOrder:
          type: integer
          default: 0
    CreateClubPayload:
      type: object
      required:
        - name
        - thumbnail
        - images
        - dressCode
        - isRecurring
        - lat
        - lng
        - location
        - openingHours
        - packages
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        thumbnail:
          type: string
          format: uri
        images:
          type: array
          items:
            type: string
            format: uri
        dressCode:
          type: string
        isRecurring:
          type: boolean
        isVip:
          type: boolean
          default: false
        lat:
          type: number
          minimum: -90
          maximum: 90
        lng:
          type: number
          minimum: -180
          maximum: 180
        location:
          type: string
        openingHours:
          type: array
          items:
            $ref: '#/components/schemas/ClubOpeningHourPayload'
          minItems: 7
          maxItems: 7
        packages:
          type: array
          description: List of packages. All packages within a club MUST share the exact same currency string. Mixed currencies will result in a 422 validation error.
          items:
            $ref: '#/components/schemas/ClubPackagePayload'
    UpdateClubOpeningHourPayload:
      allOf:
        - $ref: '#/components/schemas/ClubOpeningHourPayload'
        - type: object
          required:
            - id
          properties:
            id:
              type: string
              format: uuid
    UpdateClubPackagePayload:
      allOf:
        - $ref: '#/components/schemas/ClubPackagePayload'
        - type: object
          required:
            - id
            - isActive
          properties:
            id:
              type: string
              format: uuid
            isActive:
              type: boolean
    UpdateClubPayload:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        thumbnail:
          type: string
          format: uri
        images:
          type: array
          items:
            type: string
            format: uri
        dressCode:
          type: string
        isRecurring:
          type: boolean
        isVip:
          type: boolean
        lat:
          type: number
          minimum: -90
          maximum: 90
        lng:
          type: number
          minimum: -180
          maximum: 180
        location:
          type: string
        openingHours:
          type: array
          items:
            $ref: '#/components/schemas/UpdateClubOpeningHourPayload'
          minItems: 7
          maxItems: 7
        packages:
          type: array
          description: List of packages to update. All packages within a club MUST share the exact same currency string. Mixed currencies will result in a 422 validation error.
          items:
            $ref: '#/components/schemas/UpdateClubPackagePayload'
    ExplorePaginationMetaLinks:
      type: object
      required:
        - currentPage
        - nextPage
        - previousPage
        - firstPage
        - lastPage
      properties:
        currentPage:
          type: string
          format: uri
        nextPage:
          type: string
          format: uri
          nullable: true
        previousPage:
          type: string
          format: uri
          nullable: true
        firstPage:
          type: string
          format: uri
        lastPage:
          type: string
          format: uri
    ExplorePaginationMeta:
      type: object
      required:
        - total
        - totalPages
        - links
      properties:
        total:
          type: integer
        totalPages:
          type: integer
        links:
          $ref: '#/components/schemas/ExplorePaginationMetaLinks'
    ExploreClubListItem:
      type: object
      required:
        - id
        - name
        - lat
        - lng
        - location
        - type
        - review
        - isVip
        - thumbnail
        - priceRange
        - currency
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        lat:
          type: number
        lng:
          type: number
        location:
          type: string
        type:
          type: string
          enum:
            - CLUB
        review:
          type: number
        isVip:
          type: boolean
        thumbnail:
          type: string
          format: uri
        priceRange:
          type: object
          required:
            - minPrice
            - maxPrice
          properties:
            minPrice:
              type: number
              description: The minimum package price derived strictly from ACTIVE packages. If a club has no active packages, this fallback value is 0.
            maxPrice:
              type: number
              description: The maximum package price derived strictly from ACTIVE packages. If a club has no active packages, this fallback value is 0.
          description: Object containing the minimum and maximum package prices for the club.
        currency:
          type: string
          description: The single shared currency derived strictly from ACTIVE packages. If a club has no active packages, this fallback value is an empty string "".
        isWishlist:
          type: boolean
          description: Whether the club is saved in the authenticated user's wishlist. Omitted for guest requests.
    ExploreEventListItem:
      type: object
      required:
        - id
        - name
        - lat
        - lng
        - location
        - type
        - thumbnail
        - price
        - currency
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        lat:
          type: number
        lng:
          type: number
        location:
          type: string
        type:
          type: string
          enum:
            - EVENT
        thumbnail:
          type: string
          format: uri
        price:
          type: number
        currency:
          type: string
        isWishlist:
          type: boolean
          description: Whether the event is saved in the authenticated user's wishlist. Omitted for guest requests.
    ExploreClubDetailOpeningHour:
      type: object
      properties:
        id:
          type: string
          format: uuid
        clubId:
          type: string
          format: uuid
        dayOfWeek:
          type: integer
        isClosed:
          type: boolean
        openTime:
          type: string
          format: date-time
          nullable: true
        closeTime:
          type: string
          format: date-time
          nullable: true
        closesNextDay:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ExploreClubDetailPackage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        clubId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        capacity:
          type: integer
        price:
          type: number
        currency:
          type: string
        features:
          type: array
          items:
            type: string
        sortOrder:
          type: integer
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ExploreClubDetailResponse:
      type: object
      required:
        - id
        - name
        - thumbnail
        - images
        - dressCode
        - isRecurring
        - isVip
        - lat
        - lng
        - location
        - totalReviews
        - clubOpeningHours
        - clubPackages
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        thumbnail:
          type: string
          format: uri
        images:
          type: array
          items:
            type: string
            format: uri
        dressCode:
          type: string
        isRecurring:
          type: boolean
        isVip:
          type: boolean
        lat:
          type: number
        lng:
          type: number
        location:
          type: string
        totalReviews:
          type: integer
        clubOpeningHours:
          type: array
          items:
            $ref: '#/components/schemas/ExploreClubDetailOpeningHour'
        clubPackages:
          type: array
          items:
            $ref: '#/components/schemas/ExploreClubDetailPackage'
        isWishlist:
          type: boolean
          description: Whether the club is saved in the authenticated user's wishlist. Omitted for guest requests.
    ExploreEventDetailResponse:
      type: object
      required:
        - id
        - eventName
        - thumbnail
        - images
        - eventStatus
        - lat
        - lng
        - location
        - startAt
        - endAt
        - dressCode
        - eventPrice
        - currency
      properties:
        id:
          type: string
          format: uuid
        eventName:
          type: string
        eventDescription:
          type: string
          nullable: true
        thumbnail:
          type: string
          format: uri
        images:
          type: array
          items:
            type: string
            format: uri
        eventStatus:
          type: string
        lat:
          type: number
        lng:
          type: number
        location:
          type: string
        startAt:
          type: string
          format: date-time
        endAt:
          type: string
          format: date-time
        dressCode:
          type: string
        eventPrice:
          type: number
        currency:
          type: string
        isWishlist:
          type: boolean
          description: Whether the event is saved in the authenticated user's wishlist. Omitted for guest requests.
    ChangePasswordPayload:
      type: object
      required:
        - currentPassword
        - newPassword
        - confirmPassword
      properties:
        currentPassword:
          type: string
          minLength: 6
        newPassword:
          type: string
          minLength: 6
        confirmPassword:
          type: string
          minLength: 6
    UpdateCommissionPayload:
      type: object
      required:
        - serviceType
        - chargePercentage
      properties:
        serviceType:
          type: string
          enum: [EVENT, CLUB]
        chargePercentage:
          type: number
          format: decimal
          multipleOf: 0.01
          description: Decimal commission percentage with up to two decimal places.
          example: 20.25
    ClubPurchaseRequest:
      type: object
      required: [clubPackageId, startAt, endAt, guestCount]
      properties:
        clubPackageId: { type: string, format: uuid }
        startAt:
          {
            type: string,
            format: date-time,
            description: Fixed CST wall-clock ISO-8601 value with required -06:00 offset.,
          }
        endAt:
          {
            type: string,
            format: date-time,
            description: Fixed CST wall-clock ISO-8601 value with required -06:00 offset.,
          }
        guestCount: { type: integer, minimum: 1 }
    EventPurchaseFriend:
      type: object
      required: [name, phoneNumber, gender, age]
      properties:
        name: { type: string }
        phoneNumber: { type: string }
        gender: { type: string, enum: [MALE, FEMALE, OTHER] }
        age: { type: integer, minimum: 1 }
        image: { type: string, format: uri }
    EventPurchaseRequest:
      type: object
      required: [eventId]
      properties:
        eventId: { type: string, format: uuid }
        friends:
          {
            type: array,
            maxItems: 4,
            items: { $ref: '#/components/schemas/EventPurchaseFriend' },
          }
    UpdateServiceChargePayload:
      type: object
      additionalProperties: false
      required:
        - amount
      properties:
        amount:
          type: number
          format: decimal
          minimum: 0
          exclusiveMinimum: true
          maximum: 99999999.99
          multipleOf: 0.01
          description: Fixed global Service Charge amount. Must be greater than 0.00 and have no more than two decimal places.
          example: 5.5
    ServiceCharge:
      type: object
      required:
        - id
        - amount
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          enum: [GLOBAL]
          description: The fixed singleton identifier for the global configuration.
        amount:
          type: number
          format: decimal
          minimum: 0
          exclusiveMinimum: true
          multipleOf: 0.01
          description: Fixed global Service Charge amount. No currency is stored with this configuration.
          example: 5.5
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CheckAccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: User is authenticated
        traceId:
          type: string
          format: uuid
        data:
          type: object
          properties:
            name:
              type: string
              example: John Doe
            avatar:
              type: string
              nullable: true
              example: https://example.com/avatar.jpg
            role:
              type: string
              example: USER
            accountStatus:
              type: string
              example: ACTIVE
      required:
        - success
        - message
        - traceId
    FindRecoverUserByEmailPayload:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          example: user@example.com
    VerifyRecoverUserOtpPayload:
      type: object
      required:
        - otp
      properties:
        otp:
          type: string
          example: '123456'
          description: 6-digit numeric OTP
    ResetRecoverUserPasswordPayload:
      type: object
      required:
        - password
      properties:
        password:
          type: string
          example: newStrongPassword123!
          description: Minimum 6 characters
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
        traceId:
          type: string
          format: uuid
      required:
        - success
        - message
        - traceId
    TokenResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                token:
                  type: string
              required:
                - token
    MediaResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                type: string
                format: uri
              description: Array of S3 URLs for uploaded files
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Server Is Running
        dependencies:
          type: object
          properties:
            database:
              type: string
              example: up
            redis:
              type: string
              example: up
        traceId:
          type: string
          format: uuid
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
        traceId:
          type: string
          format: uuid
      required:
        - success
        - message
        - traceId
    AuthErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            errorType:
              type: string
              enum:
                - TOKEN_EXPIRED
                - TOKEN_INVALID
                - TOKEN_BLACKLISTED
                - USER_BLOCKED
                - INVALID_CREDENTIALS
                - DUPLICATE_DATA
                - OTP_EXPIRED
                - INVALID_OTP
                - ACCESS_DENIED
                - USER_NOT_FOUND
                - INVALID_DEVICE_CONTEXT
    ValidationErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            errors:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
    SignupPayload:
      type: object
      required:
        - role
        - name
        - email
        - phoneNumber
        - location
        - password
        - deviceIdentifier
        - lat
        - lng
        - platform
      properties:
        role:
          type: string
          enum:
            - CLUB_OWNER
            - USER
        name:
          type: string
          minLength: 1
        email:
          type: string
          format: email
        phoneNumber:
          type: string
          minLength: 5
        location:
          type: string
          minLength: 1
        password:
          type: string
          minLength: 6
        deviceIdentifier:
          type: string
          minLength: 1
        fcmToken:
          type: string
        lat:
          type: number
        lng:
          type: number
        platform:
          type: string
          enum:
            - ANDROID
            - IOS
        gender:
          type: string
          enum:
            - MALE
            - FEMALE
            - OTHER
        dateOfBirth:
          type: string
          format: date-time
    LoginPayload:
      type: object
      required:
        - email
        - password
        - deviceIdentifier
        - platform
        - lat
        - lng
      properties:
        email:
          type: string
          format: email
          example: xopoxe8124@hebase.com
        password:
          type: string
          minLength: 6
          example: 12345678aA
        deviceIdentifier:
          type: string
          minLength: 1
          example: zZp|6sBQ<Ca2_=Kl]J7jt:Mvz{n9VT$v
        platform:
          type: string
          enum:
            - ANDROID
            - IOS
          example: ANDROID
        fcmToken:
          type: string
          example: fcm_token_sample_abc123_def456_ghi789_jkl012_mno345_pqr678_stu901_vwx234_yz5678_ABCDEF_GHIJKL_MNOPQR_STUVWX_YZ
        rememberMe:
          type: boolean
          default: false
          example: true
        lng:
          type: number
          format: double
          example: -71.935353
        lat:
          type: number
          format: double
          example: -15.315821
    VerifySignupPayload:
      type: object
      required:
        - otp
        - deviceIdentifier
        - platform
      properties:
        otp:
          type: string
          minLength: 6
          maxLength: 6
          pattern: ^\d+$
        deviceIdentifier:
          type: string
          minLength: 1
        fcmToken:
          type: string
        platform:
          type: string
          enum:
            - ANDROID
            - IOS
    LogoutPayload:
      type: object
      required:
        - deviceIdentifier
      properties:
        deviceIdentifier:
          type: string
          minLength: 1
          description:
            Client-generated app-installation identifier used to validate the
            authenticated device context.
    CheckAccessPayload:
      type: object
      required:
        - deviceIdentifier
        - lat
        - lng
        - platform
      properties:
        deviceIdentifier:
          type: string
          minLength: 1
        lat:
          type: number
        lng:
          type: number
        platform:
          type: string
          enum:
            - ANDROID
            - IOS
        fcmToken:
          type: string
    DeleteMediaPayload:
      type: object
      required:
        - urls
      properties:
        urls:
          type: array
          items:
            type: string
            minLength: 1
          minItems: 1
    AdminLoginPayload:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 6
    AdminAuthSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
        data:
          $ref: '#/components/schemas/AdminUserResponse'
        csrfToken:
          type: string
          description:
            CSRF token provided for easier Swagger testing. Usually sent via
            cookie.
        traceId:
          type: string
          format: uuid
    AdminUserResponse:
      type: object
      required:
        - id
        - name
        - email
        - phoneNumber
        - accountStatus
        - accountRole
        - isVerified
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
        phoneNumber:
          type: string
        accountStatus:
          type: string
          enum:
            - ACTIVE
            - INACTIVE
            - BLOCKED
        accountRole:
          type: string
          enum:
            - USER
            - ADMIN
            - CLUB_OWNER
        isVerified:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UpdateProfilePayload:
      type: object
      properties:
        name:
          type: string
          example: John Doe
        phoneNumber:
          type: string
          example: '+1234567890'
        location:
          type: string
          example: New York, USA
        gender:
          type: string
          enum:
            - MALE
            - FEMALE
            - OTHER
          example: MALE
        dateOfBirth:
          type: string
          format: date-time
          example: '1990-01-01T00:00:00.000Z'
        profileAvatar:
          type: string
          format: uri
          example: https://example.com/avatar.jpg
        profileCover:
          type: string
          format: uri
          example: https://example.com/cover.jpg
    AdminUpdateProfilePayload:
      type: object
      properties:
        name:
          type: string
          example: Admin User
        phoneNumber:
          type: string
          example: '+1234567890'
        profileAvatar:
          type: string
          format: uri
          example: https://example.com/admin-avatar.jpg
    ProfileResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Profile retrieved successfully
        data:
          type: object
          properties:
            user:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
                email:
                  type: string
                  format: email
                phoneNumber:
                  type: string
                accountStatus:
                  type: string
                accountRole:
                  type: string
                isVerified:
                  type: boolean
                profile:
                  type: object
                  properties:
                    location:
                      type: string
                      nullable: true
                    gender:
                      type: string
                      nullable: true
                    dateOfBirth:
                      type: string
                      format: date-time
                      nullable: true
                    profileAvatar:
                      type: string
                      nullable: true
                    profileCover:
                      type: string
                      nullable: true
                    id:
                      type: string
                      format: uuid
                    userId:
                      type: string
                      format: uuid
                    createdAt:
                      type: string
                      format: date-time
                    updatedAt:
                      type: string
                      format: date-time
                createdAt:
                  type: string
                  format: date-time
                updatedAt:
                  type: string
                  format: date-time
        traceId:
          type: string
          format: uuid
    AdminProfileResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Admin profile retrieved successfully
        data:
          type: object
          properties:
            user:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
                email:
                  type: string
                  format: email
                phoneNumber:
                  type: string
                accountStatus:
                  type: string
                accountRole:
                  type: string
                isVerified:
                  type: boolean
                profile:
                  type: object
                  properties:
                    location:
                      type: string
                      nullable: true
                    gender:
                      type: string
                      nullable: true
                    dateOfBirth:
                      type: string
                      format: date-time
                      nullable: true
                    profileAvatar:
                      type: string
                      nullable: true
                    profileCover:
                      type: string
                      nullable: true
                    id:
                      type: string
                      format: uuid
                    userId:
                      type: string
                      format: uuid
                    createdAt:
                      type: string
                      format: date-time
                    updatedAt:
                      type: string
                      format: date-time
                createdAt:
                  type: string
                  format: date-time
                updatedAt:
                  type: string
                  format: date-time
        traceId:
          type: string
          format: uuid
    LegalContent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        legalContentType:
          type: string
          enum:
            - TERMS_AND_CONDITION
            - PRIVACY_AND_POLICY
            - ABOUT_US
        content:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UpdateLegalContentPayload:
      type: object
      required:
        - content
      properties:
        content:
          type: string
          minLength: 1
    LegalContentResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Legal content retrieved successfully
        data:
          type: object
          properties:
            legalContent:
              $ref: '#/components/schemas/LegalContent'
        traceId:
          type: string
          format: uuid
    ClubListResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        meta:
          $ref: '#/components/schemas/ExplorePaginationMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/ClubDetailPayload'
        traceId:
          type: string
          format: uuid
    ClubDetailPayload:
      type: object
      required:
        - id
        - userId
        - name
        - thumbnail
        - images
        - dressCode
        - isRecurring
        - isVip
        - lat
        - lng
        - location
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        thumbnail:
          type: string
          format: uri
        images:
          type: array
          items:
            type: string
            format: uri
        dressCode:
          type: string
        isRecurring:
          type: boolean
        isVip:
          type: boolean
        lat:
          type: number
        lng:
          type: number
        location:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        deactivatedAt:
          type: string
          format: date-time
          nullable: true
        clubOpeningHours:
          type: array
          items:
            $ref: '#/components/schemas/UpdateClubOpeningHourPayload'
        clubPackages:
          type: array
          items:
            $ref: '#/components/schemas/UpdateClubPackagePayload'
    ClubDetailResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          $ref: '#/components/schemas/ClubDetailPayload'
        traceId:
          type: string
          format: uuid
    CreateClubResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
            userId:
              type: string
              format: uuid
            name:
              type: string
            description:
              type: string
              nullable: true
            thumbnail:
              type: string
              format: uri
            images:
              type: array
              items:
                type: string
                format: uri
            dressCode:
              type: string
            isRecurring:
              type: boolean
            isVip:
              type: boolean
            lat:
              type: number
            lng:
              type: number
            location:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            deactivatedAt:
              type: string
              format: date-time
              nullable: true
        traceId:
          type: string
          format: uuid

    CreateEventPayload:
      type: object
      required:
        - eventName
        - thumbnail
        - images
        - lat
        - lng
        - location
        - startAt
        - endAt
        - dressCode
        - eventPrice
        - currency
      properties:
        eventName:
          type: string
        eventDescription:
          type: string
          nullable: true
        thumbnail:
          type: string
          format: uri
        images:
          type: array
          items:
            type: string
            format: uri
        eventStatus:
          type: string
          enum: [UPCOMING, ONGOING, COMPLETED, CANCELED]
          default: UPCOMING
        lat:
          type: number
        lng:
          type: number
        location:
          type: string
        startAt:
          type: string
          format: date-time
          description: Event timestamps are expected as UTC ISO datetime values.
        endAt:
          type: string
          format: date-time
          description: Event timestamps are expected as UTC ISO datetime values. endAt must be after startAt.
        dressCode:
          type: string
        eventPrice:
          type: number
        currency:
          type: string
    UpdateEventPayload:
      type: object
      properties:
        eventName:
          type: string
        eventDescription:
          type: string
          nullable: true
        thumbnail:
          type: string
          format: uri
        images:
          type: array
          items:
            type: string
            format: uri
        eventStatus:
          type: string
          enum: [UPCOMING, ONGOING, COMPLETED, CANCELED]
        lat:
          type: number
        lng:
          type: number
        location:
          type: string
        startAt:
          type: string
          format: date-time
          description: Event timestamps are expected as UTC ISO datetime values.
        endAt:
          type: string
          format: date-time
          description: Event timestamps are expected as UTC ISO datetime values. If provided, endAt must be after startAt.
        dressCode:
          type: string
        eventPrice:
          type: number
        currency:
          type: string
        isActive:
          type: boolean
          description: Controls activation/deactivation through deactivatedAt.
    EventDetailPayload:
      type: object
      required:
        - id
        - userId
        - eventName
        - thumbnail
        - images
        - eventStatus
        - lat
        - lng
        - location
        - startAt
        - endAt
        - dressCode
        - eventPrice
        - currency
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        eventName:
          type: string
        eventDescription:
          type: string
          nullable: true
        thumbnail:
          type: string
          format: uri
        images:
          type: array
          items:
            type: string
            format: uri
        eventStatus:
          type: string
          enum: [UPCOMING, ONGOING, COMPLETED, CANCELED]
        lat:
          type: number
        lng:
          type: number
        location:
          type: string
        startAt:
          type: string
          format: date-time
        endAt:
          type: string
          format: date-time
        dressCode:
          type: string
        eventPrice:
          type: number
        currency:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        deactivatedAt:
          type: string
          format: date-time
          nullable: true
    CreateEventResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          $ref: '#/components/schemas/EventDetailPayload'
        traceId:
          type: string
          format: uuid
    UpdateEventResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          $ref: '#/components/schemas/EventDetailPayload'
        traceId:
          type: string
          format: uuid
    EventDetailResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          $ref: '#/components/schemas/EventDetailPayload'
        traceId:
          type: string
          format: uuid
    ConnectStatus:
      type: object
      required:
        [state, onboardingCompletedAt, requiresOnboarding, canCreateListings]
      properties:
        state:
          type: string
          enum:
            [SETUP_REQUIRED, IN_PROGRESS, ACTION_REQUIRED, READY, RESTRICTED]
          description: Sanitized provider-derived state. READY requires active transfers capability and payout readiness.
        onboardingCompletedAt:
          type: string
          format: date-time
          nullable: true
        requiresOnboarding:
          type: boolean
        canCreateListings:
          type: boolean
    ConnectOnboardingResponse:
      type: object
      required: [success, message, data, traceId]
      properties:
        success: { type: boolean }
        message: { type: string }
        traceId: { type: string, format: uuid }
        data:
          type: object
          required: [onboardingUrl, status]
          properties:
            onboardingUrl: { type: string, format: uri, nullable: true }
            status: { $ref: '#/components/schemas/ConnectStatus' }
    ConnectStatusResponse:
      type: object
      required: [success, message, data, traceId]
      properties:
        success: { type: boolean }
        message: { type: string }
        traceId: { type: string, format: uuid }
        data: { $ref: '#/components/schemas/ConnectStatus' }
paths:
  /api/v1/wishlist:
    post:
      tags:
        - Wishlist
      summary: Add to Wishlist
      description: >
        Adds a Club or Event to the user's wishlist.
        This operation is idempotent: repeating the same save does not create a duplicate and does not return 409.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWishlistPayload'
      responses:
        '200':
          description: Wishlist updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: Target not found or unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'

    get:
      tags:
        - Wishlist
      summary: Get Wishlist
      description: >
        Retrieves the authenticated user's wishlist.
        Mixed results are ordered by wishlist creation time descending.
        Unavailable or stale saved items (deactivated Clubs, non-UPCOMING Events) are automatically excluded.
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: type
          schema:
            type: string
            enum:
              - CLUB
              - EVENT
          required: false
          description: Filter wishlist items by type.
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
            default: 1
          required: false
          description: Page number.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          required: false
          description: Number of items per page.
      responses:
        '200':
          description: Wishlist retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWishlistResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '422':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'

  '/api/v1/wishlist/{type}/{targetId}':
    delete:
      tags:
        - Wishlist
      summary: Remove from Wishlist
      description: >
        Removes a Club or Event from the user's wishlist.
        Deletion is scoped to the authenticated user.
        Stale wishlist records can still be removed.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - CLUB
              - EVENT
        - in: path
          name: targetId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Removed from wishlist successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '422':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
  /health:
    get:
      tags:
        - Health
      summary: Health check endpoint
      description:
        Reports the health status of the application and its dependencies
        (Database, Redis).
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is degraded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/auth/signup:
    post:
      tags:
        - Auth
      summary: User signup
      description: 'creates a new user account

        validates the submitted registration information

        creates the pending verification state

        generates the verification OTP flow

        returns the OTP-page/pending-verification token

        does not issue a normal authenticated access token until verification
        succeeds

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupPayload'
      responses:
        '201':
          description: Signup successful, OTP email dispatched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '409':
          description: User already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
              example:
                success: false
                message: User with this email already exist
                errorType: USER_ALREADY_EXISTS
                traceId: 123e4567-e89b-12d3-a456-426614174000
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/auth/login:
    post:
      tags:
        - Auth
      summary: User login
      description: |
        authenticates using email/password

        requires the app's deviceIdentifier

        resolves/registers the device after successful authentication

        supports multiple devices for the same account

        optionally updates FCM token information

        returns an access JWT for verified users

        uses the existing remember-me behavior

        (7-day token if rememberMe is false, 30-day token if rememberMe is true)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginPayload'
      responses:
        '200':
          description: Login successful. Returns access token or OTP pending token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description:
            'Internal Service Errors (Currently thrown as native Errors caught
            by global 500 handler).

            Includes: "Invalid credentials", "Account is blocked or inactive".

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/auth/verify:
    post:
      tags:
        - Auth
      summary: Verify OTP
      security:
        - bearerAuth: []
      description: 'this endpoint uses the pending OTP verification token

        validates the OTP

        establishes the device relationship

        issues the normal access token after successful verification

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifySignupPayload'
      responses:
        '200':
          description: OTP Verification successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Unauthorized. OTP is invalid, expired, or token missing/revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
              example:
                success: false
                message: OTP Expired
                errorType: OTP_EXPIRED
                traceId: 123e4567-e89b-12d3-a456-426614174000
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
              example:
                success: false
                message: User not found
                errorType: USER_NOT_FOUND
                traceId: 123e4567-e89b-12d3-a456-426614174000
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/auth/resend:
    post:
      tags:
        - Auth
      summary: Resend OTP
      security:
        - bearerAuth: []
      description: 'it requires the pending OTP verification token

        generates/sends another verification OTP

        does not issue an access token

        '
      responses:
        '200':
          description: OTP resent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized. Token is missing, expired, or revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
              example:
                success: false
                message: Token Expired
                errorType: TOKEN_EXPIRED
                traceId: 123e4567-e89b-12d3-a456-426614174000
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
              example:
                success: false
                message: User not found
                errorType: USER_NOT_FOUND
                traceId: 123e4567-e89b-12d3-a456-426614174000
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/auth/check:
    post:
      tags:
        - Auth
      summary: Check Access Token
      security:
        - bearerAuth: []
      description: 'it validates the access token

        validates the JWT/device relationship

        validates the submitted deviceIdentifier

        updates device activity according to the existing implementation

        does not create/reassign device ownership

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAccessPayload'
      responses:
        '200':
          description: User is authenticated and device context is valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckAccessResponse'
        '401':
          description: Unauthorized. Token missing, expired, or revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
              example:
                success: false
                message: Token Expired
                errorType: TOKEN_EXPIRED
                traceId: 123e4567-e89b-12d3-a456-426614174000
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
              example:
                success: false
                message: User not found
                errorType: USER_NOT_FOUND
                traceId: 123e4567-e89b-12d3-a456-426614174000
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description: Invalid device context, blocked account, or other internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/media:
    post:
      tags:
        - Media
      summary: Upload Media
      description: 'multipart file upload

        accepted field name is "files"

        number of files: up to 10

        per-file size limit: 50MB

        accepted MIME categories: standard images, videos, audio, and documents

        returned media URLs

        **Security Warning:** This route is currently PUBLIC and requires no
        authentication.

        '
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - files
              properties:
                files:
                  type: array
                  description: Array of files to upload. Max 10. Max 50MB per file.
                  items:
                    type: string
                    format: binary
      responses:
        '200':
          description: Files uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaResponse'
        '400':
          description: Multer Upload Error (File size exceeded, unexpected field, etc.)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  status:
                    type: integer
                    example: 400
                  message:
                    type: string
                  traceId:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Media
      summary: Delete Media
      description: 'deletes the supplied media objects/URLs

        request structure expects a JSON array of URLs

        current authentication state is PUBLIC

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteMediaPayload'
      responses:
        '200':
          description: Media items deletion successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/recover/find:
    post:
      tags:
        - Recover
      summary: Find user by email and send OTP
      description:
        Validates email, checks account status, generates OTP, and sends it
        via email queue.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FindRecoverUserByEmailPayload'
      responses:
        '200':
          description: Success. OTP sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized. Invalid credentials, or account blocked/inactive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/recover/verify:
    post:
      tags:
        - Recover
      summary: Verify recover OTP
      description: Verifies the OTP using the reset password token. Sets the
        reset-authorized flag.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRecoverUserOtpPayload'
      responses:
        '200':
          description: OTP verified successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized. Token missing/invalid/expired, account
            blocked/inactive, or OTP invalid/expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: User not found based on token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/recover/reset:
    post:
      tags:
        - Recover
      summary: Reset user password
      description:
        Resets the password after OTP verification. Blacklists the reset
        token and sends success email.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetRecoverUserPasswordPayload'
      responses:
        '200':
          description: Password reset successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized. Token missing/invalid/expired, account
            blocked/inactive, or not authorized (OTP not verified).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: User not found based on token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/recover/resend:
    post:
      tags:
        - Recover
      summary: Resend recover OTP
      description: Resends a new OTP for the password reset flow using the reset token.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OTP resent successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized. Token missing/invalid/expired, or account
            blocked/inactive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: User not found based on token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/auth/logout:
    post:
      tags:
        - Auth
      summary: User logout
      description: 'Logs out the user from the current device ONLY.

        This invalidates the current device context by setting isActive=false
        and clearing the FCM token,

        stopping notifications for this specific device.

        It also immediately revokes the stateless JWT by adding it to a Redis
        blacklist for its remaining lifetime.

        Other devices logged into the same account remain completely unaffected.

        '
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutPayload'
      responses:
        '200':
          description:
            Logout successful. The JWT is revoked and the device context is
            inactive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized. Token missing/expired/revoked, account
            blocked/inactive, or deviceIdentifier mismatch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '422':
          description: Validation failed (e.g. missing deviceIdentifier).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/admin/auth/login:
    post:
      tags:
        - Admin Auth
      summary: Admin Login
      description: Authenticate an admin user, sets secure HttpOnly cookies and CSRF cookie
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminLoginPayload'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAuthSuccessResponse'
          headers:
            Set-Cookie:
              description: access_token (HttpOnly), refresh_token (HttpOnly), admin_csrf_token
              schema:
                type: string
        '401':
          description: Invalid credentials or account blocked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: Access denied - Not an admin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/admin/auth/check:
    post:
      tags:
        - Admin Auth
      summary: Check Admin Authentication Status
      description: Verifies the admin is authenticated using access cookies and CSRF headers
      parameters:
        - name: X-CSRF-Token
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAuthSuccessResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '403':
          description: CSRF Token Invalid or Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/admin/auth/refresh:
    post:
      tags:
        - Admin Auth
      summary: Refresh Admin Tokens
      description:
        Atomically rotates refresh tokens. Requires valid CSRF and refresh
        cookies.
      parameters:
        - name: X-CSRF-Token
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tokens refreshed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Admin tokens refreshed successfully
                  csrfToken:
                    type: string
                    description:
                      CSRF token provided for easier Swagger testing. Usually sent via
                      cookie.
                  traceId:
                    type: string
                    format: uuid
          headers:
            Set-Cookie:
              description: access_token (HttpOnly), refresh_token (HttpOnly), admin_csrf_token
              schema:
                type: string
        '401':
          description: Invalid or already consumed refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '403':
          description: CSRF Token Invalid or Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/admin/auth/logout:
    post:
      tags:
        - Admin Auth
      summary: Admin Logout
      description:
        Invalidates the current admin session, blacklists access token,
        clears cookies
      parameters:
        - name: X-CSRF-Token
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully logged out
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Admin logged out successfully
                  traceId:
                    type: string
                    format: uuid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '403':
          description: CSRF Token Invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/change-password:
    patch:
      tags:
        - Profile
      summary: Change User Password
      operationId: changeUserPassword
      description: Changes the authenticated user's password
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordPayload'
      responses:
        '200':
          description: Password changed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Password changed successfully
                  traceId:
                    type: string
        '401':
          description: Unauthorized or Incorrect current password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/profile:
    get:
      tags:
        - Profile
      summary: Get User Profile
      description: Retrieves the authenticated user's profile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - Profile
      summary: Update User Profile
      description: Updates the user's profile fields. Email modification is
        ignored/rejected.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfilePayload'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/admin/change-password:
    patch:
      tags:
        - Admin Auth
      summary: Change Admin Password
      operationId: changeAdminPassword
      description: Changes the authenticated admin's password
      security:
        - adminAuth: []
      parameters:
        - in: header
          name: X-CSRF-Token
          required: true
          schema:
            type: string
          description: CSRF token for mutating requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordPayload'
      responses:
        '200':
          description: Admin password changed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Admin password changed successfully
                  traceId:
                    type: string
        '401':
          description: Unauthorized or Incorrect current password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '403':
          description: CSRF Token Invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/admin/commission:
    get:
      tags:
        - Admin Auth
      summary: Get Commission Configurations
      operationId: getCommission
      description: Retrieves the current commission configuration for EVENT and CLUB
      security:
        - adminAuth: []
      responses:
        '200':
          description: Commission configuration retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Commission configuration retrieved successfully
                  data:
                    type: object
                  traceId:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: Commission configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - Admin Auth
      summary: Update Commission Configuration
      operationId: updateCommission
      description: Updates the application charge percentage for a specific service type
      security:
        - adminAuth: []
      parameters:
        - in: header
          name: X-CSRF-Token
          required: true
          schema:
            type: string
          description: CSRF token for mutating requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCommissionPayload'
      responses:
        '200':
          description: Commission updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Commission updated successfully
                  data:
                    type: object
                  traceId:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '403':
          description: CSRF Token Invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: Commission configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/admin/service-charge:
    get:
      tags:
        - Admin Auth
      summary: Get global Service Charge
      operationId: getServiceCharge
      description: Retrieves the single fixed Service Charge configuration used for both Club and Event purchases.
      security:
        - adminAuth: []
      responses:
        '200':
          description: Service Charge retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - message
                  - data
                  - traceId
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Service Charge retrieved successfully
                  data:
                    $ref: '#/components/schemas/ServiceCharge'
                  traceId:
                    type: string
                    format: uuid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: Service Charge configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - Admin Auth
      summary: Update global Service Charge
      operationId: updateServiceCharge
      description: Updates the single fixed Service Charge configuration. The amount must be greater than 0.00 and may contain no more than two decimal places.
      security:
        - adminAuth: []
      parameters:
        - in: header
          name: X-CSRF-Token
          required: true
          schema:
            type: string
          description: CSRF token for mutating requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateServiceChargePayload'
      responses:
        '200':
          description: Service Charge updated successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - message
                  - data
                  - traceId
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Service Charge updated successfully
                  data:
                    $ref: '#/components/schemas/ServiceCharge'
                  traceId:
                    type: string
                    format: uuid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '403':
          description: CSRF Token Invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: Service Charge configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/admin/profile:
    get:
      tags:
        - Admin Auth
      summary: Get Admin Profile
      description: Retrieves the authenticated admin's profile
      responses:
        '200':
          description: Admin profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminProfileResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '403':
          description: Forbidden - Not an Admin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: Admin user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - Admin Auth
      summary: Update Admin Profile
      description: Updates the admin's profile. Requires CSRF validation.
      parameters:
        - name: X-CSRF-Token
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUpdateProfilePayload'
      responses:
        '200':
          description: Admin profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '403':
          description: CSRF invalid or Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: Admin user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/admin/terms:
    get:
      tags:
        - Admin Legal
      summary: Get Terms & Conditions
      description: Retrieves the Terms & Conditions content
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalContentResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - adminAuth: []
    patch:
      tags:
        - Admin Legal
      summary: Update Terms & Conditions
      description: Updates the Terms & Conditions content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLegalContentPayload'
      responses:
        '200':
          description: Successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalContentResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '403':
          description: Forbidden (CSRF Invalid or Access Denied)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - adminAuth: []
      parameters:
        - name: X-CSRF-Token
          in: header
          required: true
          schema:
            type: string
  /api/v1/admin/privacy:
    get:
      tags:
        - Admin Legal
      summary: Get Privacy Policy
      description: Retrieves the Privacy Policy content
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalContentResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - adminAuth: []
    patch:
      tags:
        - Admin Legal
      summary: Update Privacy Policy
      description: Updates the Privacy Policy content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLegalContentPayload'
      responses:
        '200':
          description: Successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalContentResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '403':
          description: Forbidden (CSRF Invalid or Access Denied)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - adminAuth: []
      parameters:
        - name: X-CSRF-Token
          in: header
          required: true
          schema:
            type: string
  /api/v1/admin/about-us:
    get:
      tags:
        - Admin Legal
      summary: Get About Us
      description: Retrieves the About Us content
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalContentResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - adminAuth: []
    patch:
      tags:
        - Admin Legal
      summary: Update About Us
      description: Updates the About Us content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLegalContentPayload'
      responses:
        '200':
          description: Successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalContentResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '403':
          description: Forbidden (CSRF Invalid or Access Denied)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - adminAuth: []
      parameters:
        - name: X-CSRF-Token
          in: header
          required: true
          schema:
            type: string
  /api/v1/terms:
    get:
      tags:
        - Public Legal
      summary: Get Terms & Conditions
      description: Retrieves the Terms & Conditions content
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalContentResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/privacy:
    get:
      tags:
        - Public Legal
      summary: Get Privacy Policy
      description: Retrieves the Privacy Policy content
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalContentResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/about-us:
    get:
      tags:
        - Public Legal
      summary: Get About Us
      description: Retrieves the About Us content
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalContentResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/club:
    post:
      tags:
        - Club
      summary: Create a new Club
      description: Creates a new club with opening hours and packages.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClubPayload'
      responses:
        '201':
          description: Club created successfully
          content:
[...]
